<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
    backupGlobals="false"
    beStrictAboutTestsThatDoNotTestAnything="false"
    colors="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    failOnRisky="true"
    failOnWarning="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false">
    <testsuites>
        <testsuite name="Matrix Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="date.timezone" value="UTC" />
        <ini name="memory_limit" value="2048M" />
    </php>
</phpunit>
